{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
  <h1>Catégories</h1>
  {% if categories %}
    <table id="categories" class="table table-striped">
      <thead>
      <tr>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
        <tr>
          <td>{{ category.title }}</td>
          <td><a href="/category/{{ category.id }}" class="btn btn-info">Détails</a>
            {% if is_granted('ROLE_EDITOR') %}
            <a href="/category/edit/{{ category.id }}" class="btn btn-warning">Modifier</a>
            <form method="post" action="{{ path('article_delete', {id: category.id}) }}"
                  style="display: inline-block"
                  onsubmit="return confirm('Etes-vous sûr de supprimer {{ category.title }} ?')">
              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
              <button class="btn btn-danger">Supprimer</button>
            </form>
            {% endif %}
          </td>
        </tr> {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune catégorie</p>
  {% endif %}
{% endblock %}